body{
	width:100%;
	margin: 0 auto;
	padding: 0px;
	background-repeat: no-repeat;
}

#header{
	background-color: red;
	width: 100%;
	min-width: 1200px;
	height: 85px;
}

#connexion{
	margin-top: -60px;
	float: right;
}

.msgconnect{
	margin-left: 45px;
}

#contenu{
	width: 1150px;
	margin:0px auto;
	padding: 0px;
	height: 100px;
}

#body{
	margin:0 auto;
	padding: 0px;
	width: 1150px;
}

/** Info **/

.Info{
	width: 170px;
	background-color : yellow;
	
	
}


 /**Diapo**/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-top: -500px;
  margin-left: 225px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: red;
  padding: 2px 16px;
  width: 600px;
  color: black;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 17.15%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
 /**------**/
 
 .form
 {
 margin-left : 1000px;
 margin-top : -300px;
 }
 
 /* Add a black background color to the top navigation */
.topnav {
	margin-top: 300px;
  background-color: #333;
  overflow: hidden;
  width: 600px;
  margin-left: 225px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
 
 #footer
 {
	 background-color : pink;
	 height : 170px;
	margin-top : 350px; 
 }

 #slogan
 {
	 margin: 0 auto;
	 width: 700px;
	 height: 100px;
	 text-align: center;
 }
 
 .foottitle{
	 float: center;
	 margin-top : -30px;
	 font-size : 20px;
 }
 
 #ndt{
	line-height: 10px;
 } 
 
 .slo1{
	  float: center;
	  margin-top :-10px; 
	  
 }
 
 .slo2{
	 float: center;
	 margin-top : -15px;
 }
 
 .slo3{
	float: center; 
 }
 
 
 .reseau 
 {
	margin-left : 960px; 
 margin-top : -70px;

 }
 
.imgfb 
{
width : 50px;
height : 50px;
margin-left : 980px;
margin-top : -500px;
}

.imginsta
{
	width : 50px;
	height: 50px;
	margin-left : 20px;
}